11
html,


body {
padding: 0;
margin: 0;
background: #fff;
letter-spacing: 1px;
font-family: "cwTeXYen" ;
}
body a {
outline: none;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
text-decoration: none;
}
body a:hover {
text-decoration: none;
}
body a:focus,
a:hover {
text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 0;
padding: 0;
font-family:"cwTeXYen" ;
letter-spacing: 1px;
}
p {
margin: 0;
padding: 0;
letter-spacing: 1px;
font-family:"cwTeXYen" ;
}
ul {
margin: 0;
padding: 0;
list-style-type: none;
}
ul li{display:inline-block;}

h3.title {
font-size:35px;
color: #000;
letter-spacing: 3px;
font-weight: 600;
text-transform: uppercase;
}
div.clr {
color: #fff;
font-family:"cwTeXYen" ;
}

.service-wthree-info-left p{
color: #d8d8d8;
}
.abt-icon-list-wls h4,.service-wthree-info-left h4,.team-text-wthree h4,.clients-txt-wls h4,.login h5,.ser-txt-inner h4{
color: #013fa5;
font-size: 27px;
font-weight: 700;
}

.service-wthree-info-left h4,.team-text-wthree h4,.ser-txt-inner h4{color:#ffc107;}

.header-outs {
position:relative;
}
.header-w3layouts {

	background-size: cover;
	background-repeat: no-repeat;position: absolute;
width: 100%;
z-index: 99;
padding: 1em 4em;
}
h1 a.navbar-brand {
font-size: 48px;
color: #fff !important;
text-transform: capitalize;
font-weight: 700;
letter-spacing: 2px;
margin-left: 0px;
margin-right: 0px;
padding: 0em;
}


.navbar-light .navbar-nav .nav-link{ /*導覽頁控制*/

font-family: "cwTeXYen" ;

color: white;
font-size: 20px;
letter-spacing: 2px;
text-transform: uppercase;
font-weight: 600;
margin: 0px 14px;
border:none;
border-bottom:2px solid transparent;
padding: 6px 1px 5px;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
color:#fff;
border:none;
border-bottom:2px solid #ffc107;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
color:#fff;
border-bottom:2px solid #ffc107;
}
.dropdown-menu.show {
background: #013fa5;
}
.both-butns {
text-align: right;
width:41%;
}


.one-img{  background: url(../../images/4.jpg)no-repeat center;}

.slider-img{  background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
min-height: 800px;}  

.rslides li {
-webkit-backface-visibility: hidden;
position: absolute;
display: none;
width: 100%;
left: 0;
top: 0;
}
.rslides li:first-child {
position: relative;
display: block;
float: left;
}
.rslides img {
display: block;
height: auto;
float: left;
width: 100%;
border: 0;
}

.rslides {
margin: 0 auto 40px;
}





.callbacks_container {
position: relative;
float: left;
width: 100%;
}
.callbacks {
position: relative;
list-style: none;
overflow: hidden;
width: 100%;
padding: 0;
margin: 0;
}
.callbacks li {
position: absolute;
width: 100%;
left: 0;
top: 0;
}
.callbacks img {
display: block;
position: relative;
z-index: 1;
height: auto;
width: 100%;
border: 0;
}
.callbacks .caption {
display: block;
position: absolute;
z-index: 2;
font-size: 20px;
text-shadow: none;
color: #fff;
background: #000;
background: rgba(0,0,0, .8);
left: 0;
right: 0;
bottom: 0;
padding: 10px 20px;
margin: 0;
max-width: none;
}




.callbacks_nav {
position: absolute;
-webkit-tap-highlight-color: rgba(0,0,0,0);
top:53%;
left: 0;
opacity: 0.7;
z-index: 3;
text-indent: -9999px;
overflow: hidden;
text-decoration: none;
height: 53px;
width: 53px;
background:rgba(230, 230, 230, 0) url("../images/left-arrow.png") no-repeat left top;
margin-top: -45px;
}
.callbacks_nav:active {
opacity: 1.0;
}
.callbacks_nav.next {
left: auto;
background:rgba(230, 230, 230, 0)  url("../images/right-arrow.png") no-repeat 0px 0px;
background-position: right top;
right: 0;
}
.callbacks_nav ,
.callbacks_nav.next {
background-size:40px;
}


ul.short_ls li a {
font-family: "cwTeXYen" ;
color: #fff;
text-decoration: none;
}
ul.short_ls li {
font-family: "cwTeXYen" ;
list-style: none;
display: inline-block;
letter-spacing: 1px;
color:black;
font-size: 18px;
}
.using-border { /*小導覽頁*/
width: 100%;
border: none;
background:#87cefa;
}





.icon-wthree-top img {
width: 80px;
height: 79px;
text-align: center;
line-height: 67px;
background: #03a9f4;
position: absolute;
border-radius: 50%;
top: -47px;
left: 82px;
}

.team-position {
border: 2px double #000;
padding: 3em 1em 2em;
position: relative;
}

.icons-client ul li span {
margin-right: 0.5em;
font-size: 15px;
width: 35px;
height: 35px;
margin-top: 21px;
line-height: 35px;
background: #013fa5;
border-radius: 50px;
color: #ffffff;
transition: 0.5s all;
-webkit-transition: 0.5s all;
-moz-transition: 0.5s all;
-o-transition: 0.5s all;
-ms-transition: 0.5s all;
}
.icons-client ul li span:hover {
background: #000;
}

.team{background:yellow;}



footer{background:#000;}


.mask h4{
	margin: 0;
	position: relative;
	width: 100%
    transform : translateY(-20px);
    padding:10px;
    background-color: rgb(255,255,150,0.7);
    transition: all .5s ease-in-out; 

}

.team-position:hover h4{
	transform: translateY(28px);
	opacity: 1;
}

.circle{
	background-color: white;
}


footer{
    text-align: center;
	background:#000;
	 font-family:"cwTeXYen";
}
div.clr {
color: #fff;
}

