@charset "UTF-8";
/* ------------------------------------- Foundation ------------------------------------- */
/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline;font-family: "cwTeXYen" ; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* Config */
html { width: 100%; height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0.5); -ms-touch-action: none; overflow-x: hidden; }
html .no-tap-highlight { -webkit-tap-highlight-color: transparent; }

html { font-size: 81.25%; line-height: 1.5em; }

*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; -webkit-tap-highlight-color: inherit; }

body { color: #666666; background-color: #fff; overflow-x: hidden; }
body.is-lock { width: 100%; position: fixed; top: 0; left: 0; overflow: hidden !important; }

a { color: #361d02; text-decoration: none; }
a:visited { color: #361d02; }
a:focus { color: #361d02; }
a:hover { color: #361d02; }
a:active { color: #361d02; }

[href*="tel:"] { color: #fccf4e !important; }

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.inline-block { display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }

.center-block { display: block; margin-left: auto; margin-right: auto; }

img.img-block { display: block; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.pull-left { float: left; }
.pull-right { float: right; }

.vam { vertical-align: middle; }
.vat { vertical-align: top !important; }
.vab { vertical-align: bottom; }

/* ------------------------------------- Layout ------------------------------------- */
/* Basic */
/* Text */
.title_h2 { color: #361d02; font-size: 24px;  letter-spacing: 3px; }
.title_h2.s1 { position: relative; text-align: center; }
.title_h2.s1:before { content: " "; display: block; width: 160px; height: 5px; margin: 0 auto 10px; background-color: #fccf4e; }
.title_h2.s2, .title_h2.s3 { position: relative; text-align: left; letter-spacing: 2px; }
.title_h2.s2:before, .title_h2.s3:before { content: " "; display: inline-block; vertical-align: sub; width: 7px; height: 30px; margin-right: 10px; background-color: #361d02; }
.title_h2.s3:after { content: " "; margin-left: 67px; display: inline-block; width: 103px; height: 23px; background: url(../images/products/icon_titlearrow.png) 0 0 no-repeat; }
.title_h2.s4 { padding-bottom: 9px; position: relative; text-align: left; letter-spacing: 2px; border-bottom: 4px solid #f39800; }

.btn { width: 121px; height: 40px; font-size: 15px !important; color: #eee !important; line-height: 40px; text-align: center; display: inline-block; background-color: #361d02; }
.btn:hover { background-color: #673704; }

/* Layout */
.container { max-width: 1170px; margin-left: auto; margin-right: auto;font-size: 28px; }
.container:after { content: " "; display: block; clear: both; }
.container--padding { padding: 0 15px; }

.section { width: 100%; }
.section:before, .section:after { content: " "; display: table; }
.section:after { clear: both; }
.section--contact { background-color: #eee; }

/* Nav */
.nav { height: 80px; background-color:PaleTurquoise; }
.nav .header { height: 90px; width: 100% }
.nav .logo { font-size: 39px; }
.nav .brand { float: left; }
.nav .menu { float: right; }
.nav .menu ul, .nav .menu li { display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
.nav .menu__main a { font-size: 18px; margin: 0 15px; padding: 5px 8px; }
.nav .menu__main li.active a, .nav .menu__main a:hover { border-bottom:  2px solid #ffc107; }
.nav .menu__sub a { margin: 0 7px; }
@media (min-width: 768px) { .nav .header { display: flex; justify-content: space-between; align-items: center; padding: 0 46px; } }
@media (max-width: 768px) { .nav { height: 60px; }
  .nav .header { position: relative; height: 60px; display: block; }
  .nav .logo { width: 106.6666666667px; height: 40.6666666667px; }
  .nav .brand { position: absolute; max-height: 61px; top: 50%; left: 50%; -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
  .nav .menu .menu__main:not(.active) { display: none; }
  .nav .menu .menu__sub .icon-facebook { display: none; }
  .nav .menu__main { width: 100vw; height: calc(100vh - 60px); z-index: 999; position: fixed; left: 0; top: 0; background-color: #fccf4e; flex-direction: column; justify-content: space-around; margin-top: 60px; padding: 10vh 0; }
  .nav .menu__main.active { display: flex !important; }
  .nav .menu__main li { width: 100vw; height: calc((80vh - 60px) / 5); text-align: center; }
  .nav .menu__sub a { margin: 15px 0 0; }
   }

.container ul{margin-bottom: 0px;}
@media (min-width: 768px) { .banner .container { min-height: 616px; } }
@media (max-width: 768px) { .banner .container { justify-content: center; } }
@media (max-width: 767px) { .banner .container { padding: 2em 0; }
  .banner .container img { width: 30%; } }
/* Footer */
.footer { width: 100%; background-color: Orange;font-size: 18px; }
.footer__nav { padding: 20px 0; text-align: center; border-bottom: 1px solid #d1c0a5; }
.footer__nav a { margin: 0 40px; padding: 0 5px; color: black; }
.footer__nav li { display: inline-block; vertical-align: middle; zoom: 1; *display: inline; }
.footer__copyright { text-align: center; padding: 55px 0 30px; }
.footer__copyright .logo { width: 151px; height: 57px; background: url(../images/logo-ft.png) 0 0 no-repeat; background-size: cover; margin-bottom: 15px; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; }
.footer__copyright .time { color: black; margin-bottom: 13px; font-size: 18px;  }
.footer__copyright .time > span { margin-right: 15px; }
.footer__copyright .icon { width: 30px; height: 30px; background: url(../images/icon-time.png) 0 0 no-repeat; background-size: cover; display: inline-block; vertical-align: middle; zoom: 1; *display: inline; font: 0/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0; margin-right: 10px; margin-top: -4px; }
.footer__copyright .info { color:  black; font-size: 12px; }
.footer__copyright .info a { color:  black; }
@media (min-width: 768px) { .footer .info > div { display: inline-block; }
  .footer .info > div:first-child > span, .footer .info > div:first-child > a { margin-right: 15px; } }
@media (max-width: 768px) { .footer__copyright { padding-top: 30px; }
  .footer__nav { display: none; } }
@media (max-width: 767px) { .footer__copyright .logo { width: 100.6666666667px; height: 38px; }
  .footer .time { font-size: 15px; margin-bottom: 5px; }
  .footer .time > span { margin-right: 10px; }
  .footer .icon { width: 20px; height: 20px; margin-right: 0px; }
  .footer .info { font-size: 12px; }
  .footer .info > div:first-child span { margin-right: 3px; } }

/* ------------------------------------- Components ------------------------------------- */
/* Breadcrumb */
.breadcrumb { 
  display: none; position: relative; z-index: 9; padding: 23px 0; border-bottom: 1px solid #ccc;background-color: #FFC0CB; }
.breadcrumb__node { display: inline-block; vertical-align: middle; zoom: 1; *display: inline; font-size: 13px; }
.breadcrumb__node a {font-size: 18px; color: black; }
.breadcrumb__node:after { content: " // "; color: #aaa; position: relative; top: -1px; }
.breadcrumb__node:first-child { color: #525252; }
.breadcrumb__node:first-child a { color: #525252; }
.breadcrumb__node:first-child:after { color: #525252; }
.breadcrumb__node:last-child:after { display: none; }
.breadcrumb__link { color: #000; }
@media (min-width: 992px) { .breadcrumb { display: block; } }

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
 
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dotarea{
  left: 50%;
  text-align: center;
  position: absolute;
}
.dot {
  overflow: hidden;
  margin-bottom: 0px;
  position: relative;
  bottom: 1.5rem;
    cursor: hand;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.hot{

}
.line{

}
.line:after{
  content: " ";
  display: block;
  width: 160px;
  height: 5px;
  background-color: brown;
}

.hot ul{
  margin: 0px auto ;
  padding-top: 2%;
  margin-bottom: 7%;
}
.hot li{
  margin: 0px auto ;
  margin-left: 5%;
  display: inline-block;
  text-align: center;
  position: relative;
  left: 4%;
}
.hot img{
  width: auto;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.signb {
  padding: 5px 10px;
  margin: 7px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signb:hover {
  opacity: 0.8;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}